body {
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: thistle;
  background: url(/images/bg.jpg) no-repeat fixed left top;
  background-size: cover;
}

header {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 20px;
}

h1 {
  text-align: center;
}

main {
  padding: 0px 20px 0px 20px;
}

footer {
  background-color: black;
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}

.titulo {
  color: #da6f46;
}

.paragrafo {
  color: #da6f46;
}

.table,
td,
th,
tr {
  width: 500px;
  border: 1px solid #ffc71e;
}

.white_bg {
  background-color: white;
  border-radius: 5px;
  margin: 20px;
}

.image {
  width: 200px;
  height: 200px;
}
